[Unit]
Description=snowrabbit controller
Documentation=https://snowrabbit.io
After=network.target

[Service]
EnvironmentFile=/etc/default/snowrabbitio-controller
Type=simple
TimeoutStartSec=60
KillSignal=SIGQUIT
SyslogIdentifier=snowrabbitio-controller
StandardOutput=syslog
StandardError=syslog
ExecStartPre=-/usr/bin/docker rm snowrabbitio-controller
ExecStart=/usr/bin/docker run --name snowrabbitio-controller -eDB_TYPE=${DB_TYPE} -eDB_USER=${DB_USER} -eDB_PASS=${DB_PASS} -eDB_HOST=${DB_HOST} -eDB_PORT=${DB_PORT} -eDB_DATABASE=${DB_DATABASE} -eDB_DATABASE_PATH=${DB_DATABASE_PATH} -eLOGGER_LEVEL=${LOGGER_LEVEL} -eADMIN_USER=${ADMIN_USER} -eADMIN_PASS=${ADMIN_PASS} -p ${LISTEN_PORT}:4567 snowrabbitio/controller
ExecStop=/usr/bin/docker stop snowrabbitio-controller

Restart=on-failure

[Install]
WantedBy=multi-user.target
